#reset-password-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 94.2vh;
}

#username-error-msg-1,
#otp-error-msg-1,
#otp-error-msg-2,
#new-password-error-msg-1,
#new-password-error-msg-2,
#new-password-error-msg-3,
#new-password-error-msg-4,
#new-password-error-msg-5,
#new-password-error-msg-6,
#confirm-password-error-msg-1,
#confirm-password-error-msg-2 {
	display: none;
}