/* 
Student Name: Arun Varadharajalu
Student Number: 8896434
 */

#signin-form {
	display: flex;
	flex-direction: column;
	background-color: #f1f1f1;
	padding: 5rem 7rem;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#username-error-msg-1,
#password-error-msg-1 {
	display: none;
}

.formWrapper {
	height: 96vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	margin-bottom: 1.5rem;
}

input {
	height: 46px;
	width: 400px;
	border-radius: 5px;
	border: 1px solid gray;
	padding-left: 10px;
	margin-top: 4px;
}

.errorWrapper {
	margin-bottom: 1rem;
	font-size: 14px;
}

label {
	font-size: 20px;
}

.fp {
	display: flex;
	align-items: center;
	margin-bottom: 1.5rem;
	font-size: 14px;
}

.fp p {
	margin-right: 10px;
}

.fp a {
	color: #155bd5;
	text-decoration: none;
}

#login-btn {
	background-color: #155bd5;
	height: 46px;
	border: none;
	color: #fff;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 10px;
	cursor: pointer;
}

@media screen and (max-width:600px){
	#signin-form {
		padding: 1rem;
	}
}