
#signin-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 94.2vh;
}

#username-error-msg-1,
#password-error-msg-1 {
	display: none;
}

.password {
	position: relative;
}

#password-eye-open,
#password-eye-close {
	position: absolute;
	right: 8px;
}

#password-eye-open {
	display: none;
}